# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Project Specific
Data/
Data_Clean/
*.xlsx
*.csv
.DS_Store

# Secrets
.streamlit/secrets.toml
.env
config/active_sessions.json

img/EES2026/
